* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font: 14px arial, sans-serif
}

#nav {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: #202124;
    font-size: 14px
}

#nav>div {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 100%;
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
}

#nav a,
#nav img {
    display: block;
    margin: 0 10px;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

#nav img,
#nav svg {
    height: 30px;
    margin-left: 18px;
}

#nav img {
    height: 33px;
    margin-right: 2px;
}

#nav .gb_Be {
    height: 24px
}

#logo {
    min-height: 92px;
    max-height: 290px;
    height: calc(100vh - 560px);
    display: flex;
    align-items: flex-end;
    justify-content: center
}

#logo img {
    height: 100%;
    max-height: 92px
}

form {
    margin: 0 auto;
    margin-bottom: 26px;
    width: 90%;
    max-width: 584px;
    text-align: center
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124
}

#search {
    height: 45.6px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 100%;
    max-width: 584px;
    margin: 26px 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px
}

#search * {
    height: 22px;
    display: block
}

#search:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0)
}

input[type="text"] {
    border: none;
    width: calc(100% - 80px);
    height: 45px;
    background-color: transparent;
    font-size: 16px
}

input[type="text"]:focus {
    outline: none
}

.search {
    opacity: .35;
}

footer {
    background: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%
}

footer div {
    padding: 15px 0;
    font-size: 15px;
    color: #70757a
}

footer>div:first-child {
    border-bottom: 1px solid #dadce0;
    padding-left: 30px
}

.link {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px
}

.link a {
    color: #70757a;
    text-decoration: none;
    padding: 15px
}

a:hover {
    text-decoration: underline !important;
}